html {
    width: 420px;
    /** Blaze it **/
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#search-bar {
    width: 300px;
}

#input-error {
    color: red;
}

.website-name {
    margin: 5px 10px;
    margin-right: auto;
}

.website-time {
    margin: 10px;
}

.remove-website {

}