html {
    width: 420px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-bar {
    width: 300px;
}

#input-error {
    color: red;
}

#website-name {
    margin: 5px 10px;
}

#website-time {
    
}

#remove-website {
    margin-left: auto;
}